html,
html * {
    margin: 0px;
}

h1 {
    margin: 5px 0px 5px 0px;
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h4 {
    font-size: 3em;
}

h5 {
    font-size: 2em;
}

p {
    font-size: 2em;
    text-align: left;
}

li {
    list-style: none;
    text-decoration: none;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: white;
}

.anchor {
    padding-top: 5%;
}

.header {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 'logo navbar';
    position: fixed;
    z-index: 1000;
    mix-blend-mode: difference;
    min-width: 100%;
}

.hazlogo {
    z-index: 1000;
    grid-area: logo;
    /*display: inline-block;*/
    /*because now hazlogo is outside any container, position can be fixed*/
    /*position: fixed;*/
    height: 1em;
    margin-top: 1em;
    margin-left: 2em;
}

.topnav {
    z-index: 1000;
    grid-area: navbar;
    /*because now topnav is outside any container, position can be fixed
	position: fixed;
	width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*Nav Settings*/
    margin: 0;
    padding: 1em 2em;
    color: white;
    mix-blend-mode: difference;
    transition: transform .2s;
    /* Animation */
}

.topnav>ul {
    text-align: right;
}

.topnav>ul>li {
    float: left;
    margin: 0px 0.65em 0px 0.65em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#Hero {
    z-index: 0;
    position: fixed;
    color: white;
    background-color: black;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.HeroImage {
    height: 100vh;
    width: 100%;
}

.HeroImage>img {
    height: 90vh;
    width: auto;
}

.Welcome {
    position: absolute;
    top: 70vh;
    width: 100%;
    text-align: center;
}

#Contents {
    position: absolute;
    display: block;
    margin-top: 90vh;
    height: 500vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-radius: 4em 4em 0px 0px;
}

.TextContainer {
    width: 100%;
    text-align: center;
    padding: 1em 0px 1em 0px;
}

#EduCardsContainer {
    display: block;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    white-space: nowrap;
    display: flex;
}

.EduCards {
    position: relative;
    top: 50%;
    text-align: center;
    background-color: rgb(90, 0, 0);
    margin: 3em;
    padding: 1em;
    box-shadow: 0px 5px 25px 2px rgba(50, 50, 50, 0.5);
    border-radius: 4em;
}

.EduCards>div {
    width: 70vw;
    height: 40vh;
}

#UI {
    background-color: rgb(255, 230, 0);
}

#Smansa {
    background-color: rgb(64, 64, 64);
}

#Alcy {
    background-color: green;
}

#Education {
    display: block;
    position: relative;
    background-color: rgb(245, 245, 245);
    border-radius: 4em;
}

#Personal {
    display: block;
    position: relative;
}

.Article {
    position: relative;
    width: auto;
    padding: 2em;
}